/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

main
{
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
}

footer
{
    margin-top: auto;
    padding-top: auto;
    padding-bottom: 0;
}
  